body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  &-row {
    display: flex;
    flex-direction: row;
  }

  &-column {
    display: flex;
    flex-direction: column;
  }

  &-grid {
    display: grid;
  }
}
